<section class="main clearfix" id="projects" ng-controller="ProjectController">
	<ul class="clearfix">
		<li class="projectEl col-sm-6 col-md-4" ng-repeat="project in projects">
			<div class="project">
				<div class="imgFrame">
					<a target="_blank" href="{{project.link}}">
						<img alt="{{ project.title }}" width="290px" height="290px" src="assets/images/projects/{{project.img}}" class="projectImage" />
					</a>
				</div>
				<div class="title">
					<a target="_blank" href="">
						{{ project.title }}
					</a>
				</div>
				<div class="description">
					{{ project.description }}
				</div>
			</div>
		</li>
	</ul>
</section>