script(type="text/javascript" src="/libs/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/libs/angular/angular.js")
script(type="text/javascript" src="/libs/angular-resource/angular-resource.min.js")
script(type="text/javascript" src="/libs/angular-route/angular-route.min.js")
script(type="text/javascript" src="/libs/angular-sanitize/angular-sanitize.min.js")

//- script(type="text/javascript" src="/app/app.js")
